<!DOCTYPE html>
<html lang="en">

<head>

  <!-- SITE TITTLE -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GreatDay</title>

  <!-- PLUGINS CSS STYLE -->
  <!-- Bootstrap -->
  <link href="http://demo.themefisher.com/themefisher/small-apps/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Themefisher Font -->
  <link href="http://demo.themefisher.com/themefisher/small-apps/plugins/themefisher-font/style.css" rel="stylesheet">
  <!-- Owl Carousel -->
  <link href="http://demo.themefisher.com/themefisher/small-apps/plugins/owl-carousel/assets/owl.carousel.min.css" rel="stylesheet" media="screen">
  <!-- Owl Carousel Theme -->
  <link href="http://demo.themefisher.com/themefisher/small-apps/plugins/owl-carousel/assets/owl.theme.green.min.css" rel="stylesheet" media="screen">
  <!-- Fancy Box -->
  <link href="http://demo.themefisher.com/themefisher/small-apps/plugins/fancybox/jquery.fancybox.min.css" rel="stylesheet">

  <!-- CUSTOM CSS -->
  <link href="http://demo.themefisher.com/themefisher/small-apps/css/style.css" rel="stylesheet">

</head>

<body class="body-wrapper">


  <nav class="navbar main-nav navbar-expand-lg p-0">
    <div class="container">
      <a class="navbar-brand" href="index.html" style="color: black; font-weight: 400;"><img src="https://i.imgur.com/mPbfipz.png" width="20"> &nbsp; GreatDay</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="tf-ion-android-menu"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown active dropdown-slide">
            <a class="nav-link" href="#" data-toggle="dropdown">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--====================================
=            Hero Section            =
=====================================-->
  <section class="section slider bg-blue">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 m-auto">
          <div class="block">
            <!-- Heading -->
            <h1><b>GreatDay</b></h1>
            <!-- Sub-heading -->
            <h3>The simple, intuitive app that makes it easy to keep track of the positive activities that occur in your daily life to help promote a happier lifestyle.</h3>
            <div class="download">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="" class="btn btn-rounded-icon">
                    <i class="tf-ion-social-apple"></i>
                    Iphone
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="" class="btn btn-rounded-icon">
                    <i class="tf-ion-social-android"></i>
                    Android
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="" class="btn btn-rounded-icon">
                    <i class="tf-ion-social-windows"></i>
                    Windows
                  </a>
                </li>
              </ul>
            </div>
            <!-- Image -->
            <div class="image-content">
              <img class="img-fluid" src="https://i.imgur.com/Uih4ws8.png" width="500" alt="iphone-white">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--====  End of Hero Section  ====-->

  <!--==================================
=            Feature Grid            =
===================================-->
  <section class="feature section pt-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 ml-auto justify-content-center">
          <!-- Feature Mockup -->
          <div class="image-content">
            <img class="img-fluid" src="https://i.imgur.com/ZmGbBlV.png" alt="iphone">
          </div>
        </div>
        <div class="col-lg-6 mr-auto align-self-center">
          <div class="feature-content">
            <!-- Feature Title -->
            <h2>Improve your mental wellness</h2>
            <!-- Feature Description -->
            <p class="desc">By associating emotions with different activities and different days, you can look back at your previous days history and notice little things that make your day better. Having this physical visualization can be helpful in bringing you a better tomorrow.</p>
          </div>
          <!-- Testimonial Quote -->
          <div class="testimonial">
            <p>
              "Ever since I started using GreatDay, I have been more mindful of the things that make me happy. I can focus more on the things that make my daily life more positive."
            </p>
            <ul class="list-inline meta">
              <li class="list-inline-item">
                <img src="https://avatars3.githubusercontent.com/u/34520209?s=460&v=4" alt="">
              </li>
              <li class="list-inline-item">Kevin Zheng, Software Engineer</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="feature section pt-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 ml-auto align-self-center">
          <div class="feature-content">
            <!-- Feature Title -->
            <h2>Track Your Growth</h2>
            <!-- Feature Description -->
            <p>GreatDay provides insights into activities that make you the most happy, bring you the most sadness, and keeps track of the frequencies of these activites. Visualizations such as bar graphs and line graphs help you physically see your progress.</p>
          </div>
          <!-- Testimonial Quote -->
          <div class="testimonial">
            <p>
              "GreatDay has improved my life drastically. I stopped being so focusing so much on the negative aspects of my life and I started doing more of the things that make me happy."
            </p>
            <ul class="list-inline meta">
              <li class="list-inline-item">
                <img src="https://avatars3.githubusercontent.com/u/34731628?s=460&v=4" alt="">
              </li>
              <li class="list-inline-item">Salman Siraj, Entrepreneur</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 mr-auto justify-content-center">
          <!-- Feature mockup -->
          <div class="image-content">
            <img class="img-fluid" src="https://i.imgur.com/djd5jXz.png" alt="ipad">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--====  End of Feature Grid  ====-->


  <!--=================================
=            Video Promo            =
==================================-->
  <section class="video-promo section bg-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="content-block">
            <!-- Heading -->
            <h2>See How It Works</h2>
            <!-- Popup Video -->
            <<a href="https://www.youtube.com/watch?v=872aCegnyok" target="_blank">
              <i class="tf-ion-play video"></i>
            </a>>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--====  End of Video Promo  ====-->

  <!--============================
=            Footer            =
=============================-->

  <footer class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
          <div class="block">
            <!-- Social Site Icons -->
            <ul class="social-icon list-inline">
              <li class="list-inline-item">
                <a href="#"><i class="tf-ion-social-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="tf-ion-social-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="tf-ion-social-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
          <div class="block-2">
            <!-- heading -->
            <h6>Product</h6>
            <!-- links -->
            <ul>
              <li><a href="">Features</a></li>
              <li><a href="">Testimonial</a></li>
              <li><a href="">Pricing</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
          <div class="block-2">
            <!-- heading -->
            <h6>Company</h6>
            <!-- links -->
            <ul>
              <li><a href="">Career</a></li>
              <li><a href="">Contact</a></li>
              <li><a href="">Investor</a></li>
              <li><a href="">Terms</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>



  <!-- JAVASCRIPTS -->

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI14J_PNWVd-m0gnUBkjmhoQyNyd7nllA" async
    defer></script>

  <script src="http://demo.themefisher.com/themefisher/small-apps/plugins/jquery/jquery.js"></script>
  <script src="http://demo.themefisher.com/themefisher/small-apps/plugins/popper/popper.min.js"></script>
  <script src="http://demo.themefisher.com/themefisher/small-apps/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="http://demo.themefisher.com/themefisher/small-apps/plugins/owl-carousel/owl.carousel.min.js"></script>
  <script src="http://demo.themefisher.com/themefisher/small-apps/plugins/fancybox/jquery.fancybox.min.js"></script>
  <script src="http://demo.themefisher.com/themefisher/small-apps/plugins/smoothscroll/SmoothScroll.min.js"></script>
  <script src="http://demo.themefisher.com/themefisher/small-apps/plugins/syotimer/jquery.syotimer.min.js"></script>

  <script src="http://demo.themefisher.com/themefisher/small-apps/js/custom.js"></script>
</body>

</html>